Source: qlscribe
Section: qt
Priority: optional
Maintainer: Vyacheslav Kononenko <vyacheslav@kononenko.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://qlscribe.sourceforge.net/

Package: qlscribe
Architecture: any
Depends: ${shlibs:Depends}
Description: Qt based application to print lightScribe discs
 Qt lightScribe is a GUI application to burn labels on lightScribe capable drives.
